<h1>Product Manager - Index handlebars</h1>
    <div class="border border-primary">
        <div>
        <div class="border border-primary">
            <h3>Products</h3>
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{price}}</p>
            <p>{{thumbnail}}</p>
            <p>{{code}}</p>
            <p>{{stock}}</p>
            <p>{{itatus}}</p>
            <p>{{id}}</p>
        </div>
    </div>
    <div class="border border-primary">
        <h3>Add Product</h3>
        <form class="row g-4" class="border">
            <div class="col-md-3">
                <label  class="form-label">Title</label>
                <input type="text" class="form-control" id="title">
            </div>
            <div class="col-md-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" id="pescription">
            </div>
            <div class="col-3">
                <label  class="form-label">Price</label>
                <input type="number" class="form-control" id="price">
            </div>
            <div class="col-3">
                <label class="form-label">Thumbnail</label>
                <input type="text" class="form-control" id="thumbnail">
            </div>
            <div class="col-md-3">
                <label class="form-label">Code</label>
                <input type="text" class="form-control" id="code">
            </div>
            <div class="col-md-3">
                <label class="form-label">Stock</label>
                <input type="number" class="form-control" id="code">
            </div>
            <div class="col-md-3">
                <label for="inputState" class="form-label">Status</label>
                <select id="Status" class="form-select">
                    <option selected>True</option>
                    <option>False</option>
                </select>
            </div>
            <div class="col-md-2">
                <label class="form-label">Category</label>
                <input type="text" class="form-control" id="category">
            </div>
            <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    
    
    
    <div class="border border-primary">
    <form>
        <h3>Delete Product</h3>
        <div class="col-md-3">
            <label  class="form-label">ID to Delete</label>
            <input type="text" class="form-control" id="idToDelete">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </form>
    </div>
    